#main{width:620px;height:460px;margin:auto;background-color:#e7bea5;border:1px solid black;position:relative;box-shadow:5px 5px 15px grey}
#plocha{width:285px;float:left;margin-left:20px;margin-top:20px}
#panel{width:270px;float:left;padding:15px}
#patka{width:600px;position:absolute;padding:10px;bottom:0px;left:0px;background-color:#eeeeee}
h1{position:relative;font-size:40px;font-family:"Courier New",Courier,monospace;text-shadow:3px 3px 7px #555555;display:inline}
p{position:relative;font-size: 12px;font-family:Verdana, Geneva, sans-serif;color:#5b5b5b}
p.pt1{display:inline;font-family:Georgia,serif;font-style:italic}
p.pt2{font-weight:bold}
p.pt3{display:inline;font-size:12px}
form{display:inline;position: relative}
b{position:absolute;font-size:22px;color:black;font-family:"Courier New",Courier,monospace;text-shadow:3px 3px 7px #555555}
b.a{top:8px;left:52px}
b.b{top:8px;right:55px}
button{width:200px;height:25px;background-color:#fff;border-radius:6px;border:2px solid #000;margin-bottom:11px;font:bold 16px arial;box-shadow:3px 3px 7px #555555}
button:hover{background-color:#bbbbbb}
img{box-shadow:0px 0px 20px #888888}
img.a{box-shadow:0px 0px 0px #e7bea5;border:0px}
hr{color:#000;background-color:#000;height:2px;border:0;box-shadow:3px 3px 7px #555555}
canvas{float:right;position:relative;bottom:65px;left:30px}
